HTML, body {
  min-height: 100%;
  background: url("img/world.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Joti One', cursive;
}

.header {
  background: #e0e0eb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  border-radius: 10px;
  font-family: 'Joti One', cursive;
}

.nationalQuiz h1{
  font-size: 60px;
  color: #994d00;
  text-shadow: -1px 0 #331a00, 0 1px #331a00, 1px 0 #331a00, 0 -1px #331a00;
}

/* SECTION 1 */

.user {
  font-size: 25px;
}

.userName, .userScore, .userLife, .userMoney {
  width: 100%;
  font-family: 'Bangers', cursive;
  margin-left: 20px;
}

.user, .buttons {
  height: 200px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.button {
  width: 100%;
  margin: 10px 0;
}

/* SECTION 2 */

.container {
  border-radius: 20px;
  background: #e0e0eb;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.5);
}

.countryChart {
  width: 20px;
  height: 20px;
  /* background-color: #ffffff;*/
  margin: 10px;
  display: table;
  border: 1px solid #000000;
  font-family: 'Concert One', cursive;
}

.dropzone {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin: 10px;
  float: left;
  border-radius: 5px;
}

.flag {
  display: block;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.countryCharts .dragAndDrop {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.countryPlace {
  width: 100%;
  padding: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.blackBagroundModal {
  background-color: black!important;
  opacity: 1!important;
}

.hideEmptySpace {
  visibility: hidden;
}

.displayNone {
  display: none;
}

.letters {
  font-size: 14px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.btnModal {
  width: 100%;
  margin: 10px 20px;
}

.modalButtons {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e9ecef;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0
  }
  25% {
    opacity: 0.2
  }
  50% {
    opacity: 0.4
  }
  50.01% {
    opacity: 0.6
  }
  75.01% {
    opacity: 0.8
  }
  100% {
    opacity: 1
  }
}

blink {
  -webkit-animation: blink 0.8s infinite linear alternate;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}

.heart {
  color: #ff0000;
}

.title {
  color: linear-gradient(red, yellow);
}

.btn-primary {
  background: #994d00!important;
  border: 1px solid #331a00!important;
}

.btn-primary: hover {
  color: #331a00;
}

.finalScoreName {
  margin-right: 50px;
}

.mediumScore td, .easyScore td, .hardScore td {
  width: 33.33%;
  text-align: center;
}

.table tr {
  text-align: center;
}

.card-header {
  background: #994d00!important;
  border: 1px solid #331a00!important;
  text-decoration: none;
  height: 36px;
  padding: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header a {
  color: #ffffff;
}

.card-header a:hover {
  color: #331a00;
  text-decoration: none;
}

.modal-header {
  font-size: 18px;
  text-align: center;
  display: block!important;
}

.userNameInput {
  width: 100%;
  border-radius: 2px;
}

.userNameStart {
  display: block;
  width: 20%;
  display: table-cell;
  vertical-align: middle;
}

.modal-body {
  width: 100%;
  display: table;
  padding: 10px 20px 10px 20px!important;
  justify-content: center;
}

.modal-body .card-header {
  border-radius: .25rem!important;
}

.countryPartDiv {
  margin: 0 30px;
}

.modalButtons: hover {
  color: red;
}

.hideElement {
  display: none!important;
}
.lastScore{
  background: #ffcc00;
}
