HTML, body {
  min-height: 100%;
  background-color: #d1d1e0;
}

.flag {

  border-right: 1px solid #000000;
  box-sizing: border-box;
  background-color: #d1d1e0;
}

.countryName {
  background-color: #d1d1e0;
}

.countryCharts {
  border-top: 1px solid #000000;
    background-color: #d1d1e0;
}

.countryChart {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  margin: 10px;
  border: 1px solid #000000;
  display:table;
}

.hideEmptySpace {
  visibility: hidden;
}

.dropzone {
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  margin: 10px;
}

.letters {
  font-size: 30px;
  text-align: center;
  display:table-cell;
  vertical-align:middle;

}
