HTML, body {
  min-height: 100%;
  background: lightblue url("img/earth-map.jpeg") no-repeat fixed;
}

.header {
  background: #e0e0eb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.nationalQuiz {
  font-size: 60px;
  text-align: center;
}

/* SECTION 1 */

.user {
  font-size: 25px;
}

.userName, .userScore, .userLife {
  width: 100%
}

.user, .buttons {
  background: #e0e0eb;
  height: 150px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.button {
  width: 100%;
  margin: 10px 0;
}

/* SECTION 2 */

.countryCharts {
  background-color: #e0e0eb;
}

.flag {
  background-color: #e0e0eb;
}

.countryChart {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  margin: 10px;
  display: table;
  border: 1px solid #000000;
}

.dropzone {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin: 10px;
  float: left;
}

.flag {
  display: block;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.flag, .countryCharts {
  margin: 0 0 20px 0;
}

.countryCharts .dragAndDrop{
 display: flex;
 align-content: center;
 flex-wrap: wrap;
 padding: 10px;
}
.countryPlace{
  background-color: #e0e0eb;
  width: 100%;
  padding: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.blackBagroundModal{
   background-color: black!important;
   opacity: 1!important;
}
.hideEmptySpace {
  visibility: hidden;
}
.displayNone{
  display: none;
}

.letters {
  font-size: 12px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.btnModal{
  width: 100%;
  margin: 10px 20px;
}
.modalButtons{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e9ecef;
}

@-webkit-keyframes blink {
  0%     { opacity: 0 } 50% { opacity: 0 }
  50.01% { opacity: 1 } 100% { opacity: 1 }
}
blink {
  -webkit-animation: blink 0.8s infinite linear alternate;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}
