HTML,
body {
    min-height: 100%;
    background: lightblue url("img/earth-map.jpeg") no-repeat fixed;
    font-family: 'Joti One', cursive;
}

.header {
    background: #e0e0eb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    border-radius: 10px;
    font-family: 'Joti One', cursive;


}

.nationalQuiz {
    font-size: 60px;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -moz-linear-gradient(top, #8a8a5c 0%, #eea53e 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c63e54), color-stop(100%, #eea53e));
    background-image: -webkit-linear-gradient(top, #8a8a5c 0%, #eea53e 100%);
    background-image: -o-linear-gradient(top, #8a8a5c 0%, #eea53e 100%);
    background-image: -ms-linear-gradient(top, #8a8a5c 0%, #eea53e 100%);
    background-image: linear-gradient(to bottom, #8a8a5c 0%, #eea53e 100%);



}

/* SECTION 1 */

.user {
    font-size: 25px;
}

.userName,
.userScore,
.userLife {
    width: 100%;
    font-family: 'Bangers', cursive;
    margin-left: 20px;
}

.user,
.buttons {

    height: 150px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.button {
    width: 100%;
    margin: 10px 0;
}

/* SECTION 2 */

.container {
    border-radius: 20px;
    background: #e0e0eb;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.75);
}



.countryChart {
    width: 20px;
    height: 20px;
    /* background-color: #ffffff;*/
    margin: 10px;
    display: table;
    border: 1px solid #000000;
    font-family: 'Concert One', cursive;
}

.dropzone {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    margin: 10px;
    float: left;
    border-radius: 5px;
}

.flag {
    display: block;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.countryCharts .dragAndDrop {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.countryPlace {

    width: 100%;
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.blackBagroundModal {
    background-color: black!important;
    opacity: 1!important;
}

.hideEmptySpace {
    visibility: hidden;
}

.displayNone {
    display: none;
}

.letters {
    font-size: 14px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.btnModal {
    width: 100%;
    margin: 10px 20px;
}

.modalButtons {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #e9ecef;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0
    }
    25% {
        opacity: 0.2
    }
    50% {
        opacity: 0.4
    }
    50.01% {
        opacity: 0.6
    }
    75.01% {
        opacity: 0.8
    }
    100% {
        opacity: 1
    }
}

blink {
    -webkit-animation: blink 0.8s infinite linear alternate;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
}

.heart {
    color: #ff0000;
}

.title {
    color: linear-gradient(red, yellow);
}

.btn-primary {
    background: #8a8a5c!important;
    border: #8a8a5c!important;
}

.finalScoreName {
    margin-right: 50px;
}

.mediumScore td, .easyScore td, .hardScore td{
    width: 33.33%;
    text-align: center;
}
.table tr{
    text-align: center;
}
